<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="movies.component.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
		rel="stylesheet">
	<title>Peliculas</title>
</head>

<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Sistema de Recomendación para peliculas</h2>
			<nav>
				<a href="/home" class="activo">Inicio</a>
				<a href="/movies/Ant-Man">Recomendación</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="recomendamos">
			<div class="contenedor-dos">
				<form action="">
					<h2>Ingresa la pelicula (Con base a esta te mostraremos similares teniendo en cuenta su rating):
					</h2><br>
					<input type="text" [(ngModel)]="title" name="title">
					<button mat-raised-button (click)="search()">Basic</button>
					<h2>Recomendaciones:</h2><br>
				</form>
				<p>{{pelicula_1}}</p>
				<p>{{pelicula_2}}</p>
				<p>{{pelicula_3}}</p>
				<p>{{pelicula_4}}</p>
				<p>{{pelicula_5}}</p>
				<p>{{pelicula_6}}</p>
				<p>{{pelicula_7}}</p>
				<p>{{pelicula_8}}</p>
				<p>{{pelicula_9}}</p>
				<p>{{pelicula_10}}</p>
			</div>
		</div>
	</main>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>

</html>