<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Sistema de Recomendación para peliculas</h2>
			<nav>
				<a href="#" class="activo">Inicio</a>
				<a href="/movies/Ant-Man">Recomendación</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">¿No sabes que ver?</h3>
				<p class="descripcion">
					Te recomendamos peliculas que posiblemente te gusten, gracias a nuestro algoritmo identificamos
					peliculas similares según su rating.
				</p>
				<section>
					<div class="example-button-row">
						<a mat-raised-button class="boton fas fa-play" href="/movies/Ant-Man" target="_blank">Probar</a>
					</div>
				</section>
			</div>
		</div>
	</main>
</body>